<h1>Welcome to the Admin Dashboard</h1>

<%= link_to "Create a New Fantasy Team", new_admin_fantasy_team_path, {:class=>"button button-rounded-hober"} %>

<%= link_to "Create a New Player", new_admin_player_path, {:class=>"button button-rounded-hober"} %>
