<h2>Welcome to Fantasy Football Forever</h2>
<p>Your resource for fantasy player stats</p>

<div class="grid-x">
  <div class="medium-6 cell">
    <a class="twitter-timeline"  href="https://twitter.com/hashtag/FantasyFootball" data-widget-id="943136053073989633">#FantasyFootball Tweets</a>
  </div>
</div>
