<% if current_user && current_user.players.include?(@player) %>
  <% favorite = @user_favorites.find_by(player_id: @player.id) %>
  <td><%= link_to "Remove from Favs", player_user_favorite_path(@player, favorite, {:page => params[:page], :team => params[:team], :position => params[:position]}), method: :delete  %></td>
<% elsif current_user %>
  <td><%= link_to "Add to Favs", player_user_favorites_path(@player, {:page => params[:page], :team => params[:team], :position => params[:position]}), method: :post %></td>
<% else %>
  <td><%= link_to "Login to Favorite", login_path %></td>
<% end %>
