<% if current_user.players.include?(@player) %>
<% favorite = UserFavorite.find_by(player_id: @player.id, user_id: current_user.id) %>
<td><%= link_to "Remove from Favs", player_user_favorite_path(@player, favorite), method: :delete  %></td>
<% else %>
<td><%= link_to "Add to Favs", player_user_favorites_path(@player), method: :post %></td>
<% end %>
