<h1>All Players</h1>

<table class="index-table">
  <th>Name</th>
  <th>Pro Team</th>
  <th>Fantasy Team</th>
  <th>Favorite</th>
  <% @players.each do |player| %>
  <tr class=player_<%= player.id %>>
    <td><%= link_to player.display_name, player_path(player) %></td>
    <td><%= player.pro_team %></td>
    <td><%= link_to player.fantasy_team.name, fantasy_team_path(player.fantasy_team) %></td>
    <td>Favorite</td>
  </tr>
  <% end %>
</table>
